<!DOCTYPE html>
<html lang="en" class="wf-loading">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/og.jpg" />
    <meta name="description" content="Computer science student and Tofu-head." />

    <meta property="og:title" content="Dennis Jin" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://tofuness.com/static/og.jpg" />
    <meta property="og:site_name" content="tofuness.com" />
    <meta property="og:description" content="Computer science student and Tofu-head." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nobletofu" />
    <meta name="twitter:title" content="Dennis Jin" />
    <meta name="twitter:description" content="Computer science student and Tofu-head." />
    <meta name="twitter:image" content="https://tofuness.com/static/og.jpg" />

    <title>(1) - Dennis Jin</title>
    <script type="text/javascript" src="{{bundleUrl}}"></script>
  </head>
  <body>
    <div id="site">
      <div id="header" class="section">
        <div id="name">
          <div class="name-title">
            <span class="name-char">金</span>
            <span class="name-char">瑞</span>
          </div>
        </div>
      </div>
      <div id="bio" class="section">
        <p>
          I'm Dennis Jin, 21. Currently pursuing a M.Sc. in computer science at Lund University, Sweden.
          In my free time I enjoy shuffling playing cards, creative coding, and playing board games with friends.
        </p>
        <p>
          Available for interesting freelance opportunities: <a href="mailto:dennis@tofuness.com" class="link">dennis@tofuness.com</a>.
        </p>
      </div>
      <div id="projects" class="section">
        <div class="section-title">Projects</div>
        <div>
          <a class="project" href="https://tofuness.github.io/eex/">
            <span class="project-title" >eex</span>
            <span class="project-desc">Creative code experiments for the web</span>
            <span class="project-status">2017</span>
          </a>
          <a class="project" href="http://tofuness.github.io/eex/satoshi/">
            <span class="project-title">Satoshi</span>
            <span class="project-desc">Sound visualizer</span>
            <span class="project-status">2016</span>
          </a>
          <a class="project" href="https://toshocat.com">
            <span class="project-title">Toshocat</span>
            <span class="project-desc">Desktop app for tracking watched animes</span>
            <span class="project-status">2016</span>
          </a>
        </div>
      </div>
      <div id="social" class="section">
        <div class="section-title">S&mdash;L</div>
        <div id="social-links">
          <a href="https://www.instagram.com/dennis.jin" class="social-link link">Instagram</a>
          <a href="https://twitter.com/nobletofu" class="social-link link">Twitter</a>
          <a href="https://github.com/tofuness" class="social-link link">Github</a>
        </div>
      </div>
      <div id="footer"></div>
    </div>
    <script src="https://use.typekit.net/bim0opp.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>
